<br>
<br>
<br>
<br>
 <div id="registro">
    <h3 class="text-center text-white pt-5"></h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form #f="ngForm" (ngSubmit)="submit(f)">
                        <h3 class="text-center text-info">Crear Oferta</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email del trabajador:</label><br>
                            <input type="email" ngModel name="emailUsuario"  class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label  class="text-info">Salario:</label><br>
                            <input type="number" ngModel name="salario"  class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label  class="text-info">Tiempo de Contratación:</label><br>
                            <input type="number"  ngModel name="tiempoContratacion"  class="form-control" required>
                        </div>
                        <div class="form-group">

                            <!-- <label for="remember-me" class="text-info"><span>Recordarme</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                            <input type="submit" id="RegistroSubmit" name="submit" class="btn btn-info btn-md"
                            value="Enviar">
                                <!--href = "PaginaPrincipal.html"-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <p>Oferta creada</p>
</div>

<div>
    <p>Error al crear oferta</p>
</div> -->



