<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">

    <!-- Columna 1 -->
    <div class="col">

      <h2>Ofertas activas de la competencia</h2>

      <div class="row" id="nav">
        <div class="col-4">
          <input type="text" class="form-control" [(ngModel)]="correoUsuario" aria-describedby="helpId" placeholder=""> 
        </div> 
        <div class="col-4">
          <a name="" id="btn" class="btn btn-dark"   (click)="mandarCorreoUsuario()" role="button">Mostrar ofertas</a>
        </div>

        <div *ngFor="let mensaje of OfertasCompetencia; let i = index" id="compe">
          <p id="id"> <b>ID:</b> {{i+1}}</p>
          <p><b>Email del usuario:</b> {{mensaje.emailUsuario}}</p>
          <p><b>Email de la competencia:</b> {{mensaje.emailEmpresa}}</p>
          <p><b>Salario ofrecido:</b> ${{mensaje.salario}}</p>
          <p><b>Tiempo de contratacion ofrecido:</b> {{mensaje.tiempoContratacion}}</p>
          <p><b>Estado actual:</b> {{mensaje.estado}}</p>
        </div>



      </div>
    </div>


    <!-- Columna 2 -->
    <div class="col" id="division">
      <h2 id="col2">Ofertas activas propias</h2> 
      <div class="col text-center">
      <a name="" id="btn" class="btn btn-dark"   (click)="verOfertasPropias()" role="button">Mostrar ofertas propias</a>
      </div>
      <div *ngFor="let mensaje of OfertasPropias; let i = index" id="present">
        <p id="id"> <b>ID:</b> {{i+1}}</p>
        <ul id="listcomp">
          <p><b>Email del usuario:</b> {{mensaje.emailUsuario}}</p>
          <p><b>Salario ofrecido:</b> ${{mensaje.salario}}</p>
          <p><b>Tiempo de contratacion ofrecido:</b> {{mensaje.tiempoContratacion}}</p>
          <p><b>Estado actual:</b> {{mensaje.estado}}</p>
        </ul>
      </div>
    </div>


  </div>
</div>

