

<div class="container">
  <div class="row">

    <!-- Columna 1 -->
    <div class="col">

      <h2>Ofertas de la competencia</h2>

      <div class="row" id="nav">
        <div class="col-4">
          <input type="text" class="form-control" [(ngModel)]="msg" aria-describedby="helpId" placeholder=""> 
        </div> 
        <div class="col-4">
          <a name="" id="" class="btn btn-primary"   (click)="verOfertasPropias()" role="button">Mostrar ofertas</a>
        </div>

      </div>
    </div>


    <!-- Columna 2 -->
    <div class="col">
      <h2>Ofertas propias</h2> 

      <a name="" id="" class="btn btn-primary"   (click)="verOfertasPropias()" role="button">Mostrar ofertas propias</a>
      <div *ngFor="let mensaje of listaMensajes; let i = index">
        <p> <b>ID:</b> {{i+1}}</p>
        <p><b>Email del usuario:</b> {{mensaje.emailUsuario}}</p>
        <p><b>Salario ofrecido:</b> {{mensaje.salario}}</p>
        <p><b>Tiempo de contratacion ofrecido:</b> {{mensaje.tiempoContratacion}}</p>
      </div>
    </div>


  </div>
</div>

