

    <div class="tab-pane fade show active" id="nav-ofertas" role="tabpanel" aria-labelledby="nav-ofertas-tab">
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Trabajador</th>
                    <th>ID Empresa</th>
                    <th>Salario</th>
                    <th>Tiempo Contratacion</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>                          <!--ID--> 
                    <td>1</td>                       <!--ID Trabajador-->
                    <td>1</td>                        <!--ID Empresa-->
                    <td>30000</td>            <!--Salario-->
                    <td>2</td>                  <!--Tiempo Contratacion-->
                    <td>Activa</td>              <!--Estado-->
                    <td><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Parar</a></td>       <!--Accion-->
                </tr>
                <tr>
                    <td>1</td>                          <!--ID--> 
                    <td>3</td>                       <!--ID Trabajador-->
                    <td>2</td>                        <!--ID Empresa-->
                    <td>50000</td>            <!--Salario-->
                    <td>1</td>                  <!--Tiempo Contratacion-->
                    <td>Terminada</td>              <!--Estado-->
                    <td><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Parar</a></td>        <!--Accion-->
                </tr>
               
            </tbody>
        </table>
    </div>
   