<br>
<br><br><br>
      
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div>
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th>ID</th>
                                    <!-- <th>Nombre</th> -->
                                    <th>Email Empresa</th>
                                    <th>Email Usuario</th>
                                    <!-- <th>Ofertas Actuales</th> -->
                                    <th>Salario Ofrecido</th>
                                    <th>Tiempo de Contratación</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of ofertas; let i = index" id="cont">
                                    <td id="id">{{i+1}}</td>                          <!--ID--> 
                                    <td>{{prod.emailEmpresa}}</td>                  <!--Email Empresa-->
                                    <td id="id">{{prod.emailUsuario}}</td>                  <!--Email Usuario-->
                                    <td>${{prod.salario}}</td>                        <!--salario-->
                                    <td id="id">{{prod.tiempoContratacion}} años</td>            <!--tiempo contratacion-->
                                    <td >{{prod.estado}}</td>              <!--Estado-->
                                    <td id="id"><a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                 <!--Tipo-->
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
