<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">

                    <h2>{{empresa.nombre}}</h2>
                    <p><strong>Email: {{empresa.email}}</strong></p>
                    <p><strong>Contraseña: {{empresa.password}}</strong></p>
                    <p><strong>Ofertas en Progreso: {{empresa.ofertasEnProgreso}}</strong></p>

                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                        <img src="{{empresa.urlFoto}}" alt="">
                        <br>
                        <br>
                        <br>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">Contact us!</button>
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>