<br>
<br><br>
      
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div>
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Contraseña</th>
                                    <th>Tipo</th>
                                    <th>Ofertas en Progreso</th>
                                    <!-- <th>Acciones</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of empresas; let i = index" id="cont">
                                    <td id="id">{{i+1}}</td>                          
                                    <td>{{prod.nombre}}</td>                
                                    <td id="id">{{prod.email}}</td>                  
                                    <td >{{prod.password}}</td>                        
                                    <td id="id">{{prod.tipo}}</td>           
                                    <td >{{prod.ofertasEnProgreso}}</td>                   
                                  <!-- <td id="id"><a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                 -->
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                        <div class="form-group">
                            <br>
                            <hr size="8">
                            <label for="nombre" class="text-dark" id="finalid">Email de la empresa a eliminar:</label><br>
                            <input type="text"  [(ngModel)]="correoEmpresaEliminar" name="nombre" id="nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <a name="" id="btnsish" class="btn btn-dark"   (click)="eliminarEmpresa()" role="button">Eliminar</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
