
 <div id="registro">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form #f="ngForm" (ngSubmit)="submit(f)">
                            <h3 class="text-center text-info">Regístrate</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Nombre:</label><br>
                                <input type="text" ngModel name="nombre" id="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Apellidos:</label><br>
                                <input type="text" ngModel name="apellido" id="lastname" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="email"  ngModel name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" ngModel name="password" id="password" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Carrera cursada:</label><br>
                                <input type="text" ngModel name="carrera"  class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Años de experiencia laboral:</label><br>
                                <input type="number" ngModel name="aniosExperiencia"  class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Grado más alto de titulación:</label><br>
                                <select ngModel name="titulacion" required>
                                    <option *ngFor="let item of titulacion">
                                        {{item}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Salario base deseado:</label><br>
                                <input type="number" ngModel name="salarioDeseado"  class="form-control" required>
                            </div>
                            <div class="form-group">

                                <!-- <label for="remember-me" class="text-info"><span>Recordarme</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                <input type="submit" id="RegistroSubmit" name="submit" class="btn btn-info btn-md"
                                value="Enviar">
                                    <!--href = "PaginaPrincipal.html"-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


