    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Carlos Smith</h2>
                    <p><strong>Mail: </strong>carlos@gmail.com</p>
                    <p><strong>ID: </strong>T234</p>
                    <p><strong>Ofertas: </strong>10</p>
                    <p><strong>Estado:</strong>Disponible</p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                        <img src="{{src}}" alt="">
                        <form #f2="ngForm" (ngSubmit)="uploadImage(f2)">
                            <div class="form-group">
                                <input type="file" ngModel (change)="obtenerImage($event)"  class="form-control-file" name="image">
                            </div>
                            <button type="submit" class="btn btn-primary">Change image</button>
                            <br>
                            <br>
                        </form>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <form #f3="ngForm" (ngSubmit)="uploadLocalImage(f3)">
                        <div class="form-group">
                            <input type="file" ngModel (change)="obtenerImage($event)"  class="form-control-file" name="image">
                        </div>
                        <button type="submit" class="btn btn-primary">Almacenamiento local (prueba)</button>
                        <br>
                        <br>
                    </form>
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
