<br>
<br>
<br>
<br>
<br>
<div class="row" id="nav">
    <div class="col-4">
        <input type="text" [(ngModel)]="busqueda" (keydown.enter)="buscar()"
          class="form-control" name="" id="busqueda" aria-describedby="helpId" placeholder="">
    </div> 
    <div class="col-4">
        <a name="" id="hi" class="btn btn-dark" role="button" (click)="buscar()">Buscar empleado</a>
    </div>
</div>
<ul id="uli">
<div class="form-check" id="op">
  <label class="form-check-label">
    <input type="checkbox" [(ngModel)]="order.byDisp" (change)="disponibilidad()" class="form-check-input" name="" id="" value="checkedValue" >
   Mostrar usuarios disponibles
  </label>
</div>


<div class="form-check" id="op">
    <label class="form-check-label">
      <input type="checkbox" [(ngModel)]="order.bySal" (change)="ordenarSal()" class="form-check-input" name="" id="" value="checkedValue" >
      Ordenar por salario (menor a mayor)
    </label>
</div>
<div class="form-check" id="op">
    <label class="form-check-label">
      <input type="checkbox" [(ngModel)]="order.byExp" (change)="ordenarExp()" class="form-check-input" name="" id="" value="checkedValue" >
      Ordenar por años de Experiencia (mayor a menor)
    </label>
</div>
</ul>
<br>
<br>
<div class=" mt-2">
    <ul>
        <ng-container *ngFor="let usuarios of filtrados;">
            <li class="media border" size="7" id="li">
             <img class="mr-3" src="{{usuarios.urlFoto}}" alt="Usuario no proporciono imagen" height="120" width="140" id="image">
             <div class="media-body" id="smn">
               <h3 class="mt-0 mb-1">{{usuarios.nombre + ' ' + usuarios.apellido}}</h3>
               <br>
               <ul>
               <p><b>email:</b> {{usuarios.email}}</p>
               <p><b>Experiencia:</b> {{usuarios.aniosExperiencia}} años</p>
               <p><b>Carrera:</b> {{usuarios.carrera}}</p>
               <p><b>Titulación:</b> {{usuarios.titulacion}}</p>
               <p><b>Ofertas:</b> {{usuarios.ofertasActuales}}</p>
               <p><b>Salario deseado:</b> ${{usuarios.salarioDeseado}}</p>
               <p><b>Estado actual:</b> {{usuarios.estado}}</p>
                </ul>
             </div>
           </li>
        </ng-container>
       
    </ul>

    <div *ngIf="filtrados.length==0" class="alert alert-danger" role="alert">
        <strong>Ningún producto concuerda con la búsqueda</strong>
    </div>
   
</div>