<br>
<br>
<br>
<br>
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-trabajadores-tab" data-toggle="tab" href="#nav-trabajadores" role="tab" aria-controls="nav-trabajadores" aria-selected="true">Trabajadores</a>
                        <a class="nav-item nav-link" id="nav-empresas-tab" data-toggle="tab" href="#nav-empresas" role="tab" aria-controls="nav-empresas" aria-selected="false">Empresas</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-trabajadores" role="tabpanel" aria-labelledby="nav-trabajadores-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th id="th" >ID</th>
                                    <th id="th">Nombre</th>
                                    <th id="th">Apellido</th>
                                    <th id="th">Email</th>
                                    <th id="th">Ofertas Actuales</th>
                                    <th id="th">Estado</th>
                                    <th id="th">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="id">1</td>                          <!--ID--> 
                                    <td>John</td>                       <!--Nombre-->
                                    <td id="id">Doe</td>                        <!--Apellido-->
                                    <td>john@example.com</td>            <!--Email-->
                                    <td id="id">10</td>                  <!--Ofertas Actuales-->
                                    <td>Disponible</td>              <!--Estado-->
                                    <td id="id">Trabajador   <a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                 <!--Tipo-->
                                </tr>
                                <tr>
                                    <td id="id">2</td>                        <!--ID--> 
                                    <td>Carlos</td>                       <!--Nombre-->
                                    <td id="id">Dueñas</td>                        <!--Apellido-->
                                    <td>Carlos@example.com</td>            <!--Email-->
                                    <td id="id">2</td>                           <!--Ofertas Actuales-->
                                    <td>Seleccionado</td>                    <!--Estado-->
                                    <td id="id">Trabajador  <a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                   <!--Tipo-->
                                </tr>
                                <tr>
                                    <td id="id">3</td>                           <!--ID--> 
                                    <td>Jorge</td>                        <!--Nombre-->
                                    <td id="id">Sol</td>                         <!--Apellido-->
                                    <td>J_Sol@example.com</td>            <!--Email-->
                                    <td id="id">3</td>                           <!--Ofertas Actuales-->
                                    <td>Seleccionado</td>                <!--Estado-->
                                    <td id="id">Trabajador  <a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>  <!--Tipo-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-empresas" role="tabpanel" aria-labelledby="nav-empresas-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th id="th">ID</th>
                                    <th id="th">Nombre</th>
                                    <th id="th">Ofertas en Progreso</th>
                                    <th id="th">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>    
                                    <td id="id">1</td>              <!--ID--> 
                                    <td >Telcel</td>         <!--Nombre-->     
                                    <td id="id">6</td>        <!--Ofertas en progreso--> 
                                    <td>Empresa   <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>        <!--Tipo--> 
                                </tr>
                                <tr>
                                    <td id="id">2</td>              <!--ID--> 
                                    <td>Apple</td>         <!--Nombre-->     
                                    <td id="id">4</td>        <!--Ofertas en progreso--> 
                                    <td>Empresa   <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>        <!--Tipo--> 
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    