<br>
<br><br><br>
      
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div>
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Tipo</th>
                                    <th>Ofertas Actuales</th>
                                    <th>Estado</th>
                                    <th>Contraseña</th>
                                    <th>Carrera</th>
                                    <th>Años de experiencia</th>
                                    <th>Titulación</th>
                                    <th>Salario deseado</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of usuarios; let i = index" id="cont">
                                    <td id="id">{{i+1}}</td>                          
                                    <td>{{prod.nombre}} {{prod.apellido}}</td>                
                                    <td id="id">{{prod.email}}</td>                  
                                    <td >{{prod.tipo}}</td>                        
                                    <td id="id">{{prod.ofertasActuales}}</td>           
                                    <td >{{prod.estado}}</td>      
                                    <td id="id" >{{prod.password}}</td>              
                                    <td >{{prod.carrera}}</td>              
                                    <td id="id" >{{prod.aniosExperiencia}} años</td>              
                                    <td >{{prod.titulacion}}</td>              
                                    <td  id="id">${{prod.salarioDeseado}}</td>              

                                  <td><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                 <!--Tipo-->
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>


                    <div class="form-group">
                        <label for="nombre" class="text-info">Email de la empresa a eliminar:</label><br>
                        <input type="text"  [(ngModel)]="correoUsuarioEliminar" name="nombre" id="nombre" class="form-control">
                    </div>


                    <div class="form-group">
                        <a name="" id="" class="btn btn-primary"   (click)="eliminarUsuario()" role="button">Eliminar</a>
                    </div>

                
                   
                </div>
            </div>
        </div>
    </div>
</section>
