#btn{
    color: white;
}

#present{
    border-color: darkgray;
    border-radius: 5px;
    margin: 30px;
    //border-color: firebrick;
    //border-width: 555px;
    //background-color: rgb(60, 60, 60);
    //color: white;
    margin-right: 50px;
}

#id{
    background-color: darkgray;
    text-align: center;
}

#listcomp{
    border: 7px rgb(60, 60, 60) solid;
    border-radius: 5px;
}

#col2{
    text-align: center;
}

#compe{
    border: 7px rgb(60, 60, 60) solid;
    border-radius: 5px;
    margin: 35px;
}