
      <h2>Ofertas</h2>
      <a class='btn btn-info btn-xs' ngModel (click)="refrescarDatos()"><span class="glyphicon glyphicon-edit"></span> Refrescar</a>
      <table class="table">
          <thead>
              <tr>
                  <th>ID Oferta</th> 
                  <th>ID Empresa</th>
                  <th>Nombre Empresa</th> 
                  <th>Salario</th>
                  <th>Tiempo Contratacion</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td scope="row">1</td> <!--ID Oferta-->
                  <td>1</td>             <!--ID Empresa-->
                  <td>Telcel</td>             <!--Nombre Empresa-->
                  <td>30000</td>             <!--Salario-->
                  <td>2</td>             <!--Tiempo Contratacion-->
                  <td>Activa</td>             <!--Estado-->
                  <td><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Seleccionar</a></td>             <!--Acciones-->
              </tr>
              
              <tr>
                <td scope="row">1</td> <!--ID Oferta-->
                <td>2</td>             <!--ID Empresa-->
                <td>Apple</td>             <!--Nombre Empresa-->
                <td>50000</td>             <!--Salario-->
                <td>1</td>             <!--Tiempo Contratacion-->
                <td>Activa</td>             <!--Estado-->
                <td><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Seleccionar</a></td>             <!--Acciones-->
            </tr>

          </tbody>
      </table>
 