<br>
<br>
<br>
<br>
     
     <h2 id="title">Ofertas</h2>
     <br>
      <!-- <a class='btn btn-info btn-xs' ngModel (click)="refrescarDatos()"><span class="glyphicon glyphicon-edit"></span> Refrescar</a> -->
      <table class="table" id="tab">
          <thead>
              <tr id="list">
                  <th id="th">ID Oferta</th> 
                  <th id="th">Nombre Empresa</th> 
                  <th id="th">Salario Ofrecido</th>
                  <th id="th">Tiempo Contratacion</th>
                  <th id="th">Estado</th>
                  <th id="th">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let prod of ofertas; let i = index" id="cont">
                  <td scope="row" id="id">{{i+1}} </td> <!--ID Oferta-->
                  <td>{{prod.emailEmpresa}}</td>             <!--Email Empresa-->
                  <td id="id">{{prod.salario}}</td>             <!--Salario-->
                  <td>{{prod.tiempoContratacion}}</td>             <!--Tiempo Contratacion-->
                  <td id="id">{{prod.estado}}</td>             <!--Estado-->
                  <td id="cambio"><a class='btn btn-dark btn-xs' id="cambio"><span class="glyphicon glyphicon-edit"></span> Seleccionar</a></td>             <!--Acciones-->
              </tr>
              

          </tbody>
      </table>
 