
      <h2>Ofertas</h2>
      <!-- <a class='btn btn-info btn-xs' ngModel (click)="refrescarDatos()"><span class="glyphicon glyphicon-edit"></span> Refrescar</a> -->
      <table class="table">
          <thead>
              <tr>
                  <th>ID Oferta</th> 
                  <th>Nombre Empresa</th> 
                  <th>Salario Ofrecido</th>
                  <th>Tiempo Contratacion</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let prod of ofertas; let i = index">
                  <td scope="row">{{i+1}}</td> <!--ID Oferta-->
                  <td>{{prod.emailEmpresa}}</td>             <!--Email Empresa-->
                  <td>{{prod.salario}}</td>             <!--Salario-->
                  <td>{{prod.tiempoContratacion}}</td>             <!--Tiempo Contratacion-->
                  <td>{{prod.estado}}</td>             <!--Estado-->
                  <td><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Seleccionar</a></td>             <!--Acciones-->
              </tr>
              

          </tbody>
      </table>
 