
    <div id="registro">
           <h3 class="text-center text-white pt-5"></h3>
           <div class="container">
               <div id="login-row" class="row justify-content-center align-items-center">
                   <div id="login-column" class="col-md-6">
                       <div id="login-box" class="col-md-12">
                           <form id="login-form" class="form" action="" method="post">
                               <h3 class="text-center text-info">Regístrate</h3>
                               <div class="form-group">
                                   <label for="email" class="text-info">Email:</label><br>
                                   <input type="email" name="email" id="email" class="form-control" required>
                               </div>
                               <div class="form-group">
                                   <label for="nombre" class="text-info">Nombre de la Empresa:</label><br>
                                   <input type="text" name="nombre" id="nombre" class="form-control" required>
                               </div>
                               <!-- <div class="form-group">
                                    <label for="Pais" class="text-info">Pais:</label><br>
                                    <input type="text" name="pais" id="coutry" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="ciudad" class="text-info">Ciudad:</label><br>
                                    <input type="text" name="ciudad" id="city" class="form-control" required>
                                </div> 
                                <div class="form-group">
                                    <label for="rfc" class="text-info">RFC:</label><br>
                                    <input type="text" name="ciudad" id="rfc" class="form-control" required>
                                </div> -->
                               <div class="form-group">
                                   <label for="password" class="text-info">Password:</label><br>
                                   <input type="text" name="password" id="password" class="form-control" required>
                               </div>
   
                               
   
                                   <div class="form-group">
   
                                       <!-- <label for="remember-me" class="text-info"><span>Recordarme</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                       <input type="submit" id="RegistroSubmit" name="submit" class="btn btn-info btn-md"
                                           value="Enviar">
                                       <!--href = "PaginaPrincipal.html"-->
                                   </div>
   
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   
  