<br>
<br><br><br>
      
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                    <div>
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr id="list">
                                    <th id="th">ID</th>
                                    <!-- <th>Nombre</th> -->
                                    <!-- <th>Apellido</th> -->
                                    <th id="th">Email Usuario</th>
                                    <!-- <th>Ofertas Actuales</th> -->
                                    <th id="th">Salario Ofrecido</th>
                                    <th id="th">Tiempo de Contratación</th>
                                    <th id="th">Estado</th>
                                    <th id="th">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of ofertas; let i = index" id="cont">
                                    <td id="id">{{i+1}}</td>                          <!--ID--> 
                                    <td>{{prod.emailUsuario}}</td>                  <!--Email Usuario-->
                                    <td id="id">{{prod.salario}}</td>                        <!--salario-->
                                    <td>{{prod.tiempoContratacion}}</td>            <!--tiempo contratacion-->
                                    <td id="id">{{prod.estado}}</td>              <!--Estado-->
                                    <td><a class='btn btn-dark btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Cambiar</a></td>                 <!--Tipo-->
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                   
                  
                    <div class="form-group">
                        <label for="nombre" class="text-info">Email del trabajador:</label><br>
                        <input type="text"  [(ngModel)]="correoUsuarioEliminar" name="nombre" id="nombre" class="form-control">
                    </div>

                    <div class="form-group">
                        <a name="" id="cambio" class="btn btn-dark"   (click)="eliminarOferta()" role="button">Eliminar Oferta</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
